<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @artist.name %></title>
  </head>
  <body>
    <h1><%= @artist.name %></h1>
    <p><%= @artist.bio %></p>
  </body>
</html>
